/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
html{
  background: grey
}

*{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
